* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #0a3b5e; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    gap: 60px;
  }
  
  .bosit{
    position: relative;
    width: 100px;
    height: 100px;
  }
  
  .square, .circle {
    position: absolute;
    width: 80px;
    height: 80px;
    opacity: 0.6;
  }
  
  .cyan {
    background-color: #4ef1f1;
    top: 0;
    left: 0;
  }
  
 
  
  .pink {
    background-color: #f183e9;
    transform: rotate(10deg);
  }
  
  .group-2 .square:nth-child(2) {
    left: 10px;
    top: 10px;
    transform: rotate(20deg);
  }
  .group-2 .square:nth-child(3) {
    left: 20px;
    top: 20px;
    transform: rotate(30deg);
  }
  
  .green {
    background-color: #98f6b0;
    border-radius: 50%;
    left: 0;
    top: 0;
  }
  
  .group-3 .circle:nth-child(2) {
    left: 10px;
  }
  .group-3 .circle:nth-child(3) {
    left: 20px;
  }